<form asp-action="Index" class="w3-container">
  <p>
  <label>Cạnh A</label>
  <input class="w3-input" type="text" name = "canhA"></p>
  <p>
  <label>Cạnh B</label>
  <input class="w3-input" type="text" name = "canhB"></p>
  <p>
  <label>Cạnh C </label>
  <input class="w3-input" type="text" name = "canhC"></p>
  <p>
    <input class="w3-input" type="submit" value ="Nhập">
  </p>
</form>
<h2>@ViewBag.thongbao</h2>